.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.homered{
  background-color: red;
  padding: 30px 10px 22px 10px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}
.navbar-global {
  background-color: indigo;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user>li>a {
  color: white;
}

.navbar-primary {
  background-color: #333;
  bottom: 0px;
  left: 0px;
  position: fixed;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  border-top: solid 1px #666;
  color: grey;
  font-size: 20px;
  text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
  background-color: #222;
  color: white;
}

.btn-expand-collapse:active {
  background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  text-align: left;
  border-bottom: solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .navbar-logo {
  margin-right: 2px;
}

.navbar-primary-menu li a .navbar-logo img {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}

.navbar-logo {
  display: none;
}

.navbar-primary.collapsed .navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 24px;
  color: white;
}

.navbar-primary.collapsed .navbar-logo img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .map-container .mapouter {
    position: relative;
    text-align: right;
    height: 250px;
    width: 1080px;
  }

  .map-container .gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 250px;
    width: 1080px;
  }
  
.navbar-header {
    transition: top 0.5s;
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .navbar-header.hidden {
    top: -51px;
  }

  body{
    margin: 0;
     padding: 0;
    background-color: #5D6D7E;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}